IP="0.0.0.0"

DATA_PATH_HOST = ../web/project/data

HOST_EDITORIAL=editorial-api
PATH_EDITORIAL=/app/data/editorial.json
PORT_EDITORIAL=8081

HOST_LIBRO=libro-api
PATH_LIBRO=/app/data/libro.json
PORT_LIBRO=8082

HOST_AUTOR=autor-api
PATH_AUTOR=/app/data/autor.json
PORT_AUTOR=8083

